/* Top Nav Bar*/

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-logo{
  flex-grow: 0.7;
}


/* Job List and Job List Item */
aside {
  float: left;
}

.aside-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}


/* RHS User Input area */
.rhs-sections{
margin-left: 13rem;
display: flex;
flex-direction: column;
}


/* Landing page */

.landing-page-header{
  text-align: center;
  margin-top: 5rem;
}
.landing-page-instructional{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 2rem 0rem;
  align-items: baseline;
}

.landing-page-footer{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}