$main-colour: #dfddd7;

/* Whole page */
html {
  background-color: $main-colour;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  margin-bottom: 0;
  font-family: Inter,sans-serif;
}

.cards {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}

.log-btn {
  background-color: $main-colour;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  text-align: center;
  height: 40px;
  width: 10vh;
}

.log-btn:hover {
  background-color: #fff;
}

.log-btn:active {
  box-shadow: black 2px 2px 0 0;
  transform: translate(2px, 2px);
}


textarea {
  background-color: #dddddd;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: Inter,sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  width: 200px;
  height: 100px;
}

/* Top Nav Bar*/
.nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: $main-colour;
  height: 75px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 30px;
}

.logo {
  width: 30vh;
  position: relative;
  margin-right: 25vh;
}

/* Job List and Job List Item */
aside {
  background-color: white;
  // margin-left: 40px;
  border-radius: 10px;
  border: 2px solid;
  border-color: black;
  padding: 10px;
  float: left;
  width: 20%;
  padding-left: 40px;
  height: 65vh;
}

.new-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 20px;
  border: 2px solid black;
}
.aside-header {
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // justify-items: center;
}

/* RHS User Input area */

.rhs-sections {
  height: 100%;
  width: 70%;
  background-color: white;
  display: flex;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid;
  border-color: black;
  padding: 10px;
}

/* Landing page */

.landing-page-header {
  text-align: center;
  margin-top: 5rem;
}
.landing-page-instructional {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 2rem 0rem;
  align-items: baseline;
}

.landing-page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Login */

.login {
margin-top: 10vh;
}