/* Colours */
$main-colour: #F2F1F0;
$accent-colour: #1D5450;
$error-red: #f8d7da;
$success-green: #d4edda;
$grey:#4E4F50;
$yellow: #e1ad01;

/* Button shadow */
$btn-cursor: pointer;
$btn-border: 1px solid $grey;
$btn-box-shadow: $grey 4px 4px 0 0;

/* Button hover */

/* Error message box */
@mixin error-message {
  background: $error-red;
  border-radius: 5px;
  border-left: red solid 6px;
  text-align: left;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 1rem;
}

@mixin confirmation {
  background: $success-green;
  border-radius: 5px;
  border-left: green solid 6px;
  text-align: left;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 1rem;
}