/* Colours */
$main-colour: #F2F1F0;
$accent-colour: #1D5450;

/* Button shadow */
$btn-cursor: pointer;
$btn-border: 1px solid #4E4F50;
$btn-box-shadow: #4E4F50 4px 4px 0 0;

/* Button hover */
  // background-color: #4E4F50;
  // color: $main-colour;
  // box-shadow: $accent-colour 4px 4px 0 0;
